# API Server
REACT_NATIVE_API_URL=http://localhost:8080

# Kakao API Keys
EXPO_PUBLIC_KAKAO_REST_API_KEY=your_kakao_rest_api_key
EXPO_PUBLIC_KAKAO_JS_API_KEY=your_kakao_js_api_key
KAKAO_APP_KEY=your_kakao_app_key
